@import './fonts.css';
@import './transition.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/* pls commit ☝️ */

.base-scrollbar::-webkit-scrollbar {
    opacity: 0;
    width: 5px;
    padding-right: 3px;
}

.base-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(87, 87, 87);
}

.base-scrollbar::-webkit-scrollbar-track {
    background: none;
}

.base-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(87, 87, 87, 0);
    border-radius: 20px;
}

.base-scrollbar::-webkit-scrollbar-thumb:hover,
.base-scrollbar::-webkit-scrollbar-thumb:focus,
.base-scrollbar::-webkit-scrollbar-thumb:active {
    background: #696969;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.pointer-events-parent-none {
    pointer-events: none;
}

.pointer-events-parent-none * {
    pointer-events: auto;
}

.selectable {
    -webkit-user-select: text;
}
