.list-enter-active {
    transition: all .5s ease;
    transition-delay: 300ms;
}
.list-leave-active {
    position: absolute;
    transition: all 0ms;
}

.list-enter-from {
    opacity: 0;
    transform: translateX(30px);
}
.list-leave-to {
    opacity: 0;
    transition: all 0ms;
}

/**
    Clip Animation.
 */

.animate--fade {
    animation: fadeIn 300ms ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate--reveal {
    clip-path: polygon(0% 0%, 200% 0%, 0% 220%);
    animation-fill-mode: backwards;
    animation: clipPathReveal 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes clipPathReveal {
    0%, 30% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
        transform: scale(0.90);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}
